@value utils: '../../../styles/utils.css';
@value medium-bp from utils;

.button {
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  line-height: 1;
  border: 1px solid transparent;
  border-width: 0;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.primary {
  font-size: var(--h5-size);
  color: var(--color-white);
  background-color: var(--color-dark-primary);
  min-width: 140px;
  border-radius: 500px;
  padding: 11px 20px;
}

.primary:hover,
.primary:focus {
  background-color: var(--color-light-primary);
}

.secondary {
  font-size: var(--h5-size);
  color: var(--color-white);
  background-color: var(--color-dark-secondary);
  min-width: 140px;
  border-radius: 500px;
  padding: 11px 20px;
}

.secondary:hover,
.secondary:focus {
  background-color: var(--color-light-secondary);
}

.neutral {
  font-size: var(--h5-size);
  color: var(--color-white);
  background-color: var(--color-gray-700);
  min-width: 140px;
  border-radius: 500px;
  padding: 11px 20px;
}

.neutral:hover,
.neutral:focus {
  background-color: var(--color-gray-500);
}

.icon {
  background-color: transparent;
}

@media (medium-bp) {
  .primary,
  .secondary,
  .neutral {
    min-width: 120px;
    padding: 11px;
  }
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus {
  cursor: not-allowed;
  background-color: var(--color-gray-500);
}
