@value utils: '../../../styles/utils.css';

.media {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-gray-100);
  border-radius: 5px;
}

.media.missed,
.media.cancelled {
  background-color: var(--color-bg-red);
}

.media.completed {
  background-color: var(--color-bg-green);
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.body {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.body p {
  margin: 0;
}

.body p + p {
  margin-top: 8px;
}

.title {
  font-size: var(--h5-size);
  font-weight: var(--bold);
}
