@value utils: '../../../styles/utils.css';

.heading {
  margin: 25px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 5px 0;
  font-size: var(--h1-size);
}

.wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
