@value utils: '../../../styles/utils.css';
@value large-bp from utils;
@value small-bp from utils;

.container {
  margin: 25px 0 10px;
  padding-bottom: 50px;
}

.heading {
  margin: 5px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 5px 0;
  font-size: var(--h1-size);
}

.wrapper {
  margin: 25px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 20px;
}

.fill-bookings-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fill-bookings-container p {
  font-size: var(--h4-size);
  font-weight: var(--bold);
}

.form-label {
  margin: 20px 0 0;
  display: flex;
  text-transform: capitalize;
  font-size: var(--small-paragraph);
  font-weight: var(--bold);
}

@media (large-bp) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (small-bp) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
